.chat-main
  .chat-main__group-info
    .info-items
      .info-items__group-contents
        %p.info-items__group-contents__title
          = @group.name
        %p.info-items__group-contents__member
          %span Member：
          - @group.users.each do |u|
            = u.name
      = link_to edit_group_path(@group.id), class: "info-items__group-edit" do
        Edit
  .chat-main__message-list
    .MessageField
      = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form-items"}, local: true, id: "new-content" do |f|
      .form-items__input
        = f.text_field :content, class: 'form-items__input__text', placeholder: 'type a message'
        = f.label :image, class: 'form-items__input__image' do
          = icon('fa', 'image fa-lg')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'form-items__submit'
