.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons__edit" do
          = icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "top-items__icons__cog" do
          = icon('fas', 'cog')
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません
